<div class="d-flex flex-column">
  <ul
    class="nav nav-pills d-flex flex-row justify-content-evenly flex-sm-column mb-auto"
  >
    <li class="nav-item flex-grow-1 text-center">
      <a
        routerLink="/messages/inbox"
        routerLinkActive="active"
        class="nav-link link-dark"
      >
        Inbox
      </a>
    </li>
    <li class="nav-item flex-grow-1 text-center">
      <a
        routerLink="/messages/sent"
        routerLinkActive="active"
        class="nav-link link-dark"
      >
        Sent
      </a>
    </li>
    <li class="nav-item flex-grow-1 text-center">
      <a
        class="nav-link link-dark"
        routerLink="/messages/new"
        routerLinkActive="active"
      >
        New Message
      </a>
    </li>
  </ul>
</div>
