
.conteiner{
  height: 100vh;
  background-color: rgb(165, 165, 165);
  padding-top: 50px;
}

.conteiner-error{
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  background-color: rgba(82, 11, 44, 0.473);
}

.responsive{
  width: 80%;
  height: auto;
}

.conteiner-error p{
  padding-top: 50px;
  font-size: 1rem;
}
