<div class="conteiner">

    <form action="">

      <!--Apellido-->
      <mat-form-field color="primary" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput autocomplete="off">
      </mat-form-field>

      <!--Nombre-->
      <mat-form-field color="primary" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off">
      </mat-form-field>

      <!--Nombre de Usuario-->
      <mat-form-field color="primary" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput autocomplete="off">
      </mat-form-field>

      <!--Contraseña-->
      <mat-form-field color="primary" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password">
      </mat-form-field>

      <!--Confirmar Contraseña-->
      <mat-form-field color="primary" appearance="fill">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput type="password">
      </mat-form-field>

      <!--País-->
      <mat-form-field appearance="fill">
        <mat-label>País</mat-label>
        <mat-select aria-selected="false">
          <mat-option value="one" class="selection">Argentina</mat-option>
          <mat-option value="one" class="selection">Uruguay</mat-option>
          <mat-option value="one" class="selection">Paraguay</mat-option>
        </mat-select>
      </mat-form-field>

      <!--Ciudad-->
      <mat-form-field appearance="fill">
        <mat-label>Ciudad</mat-label>
        <mat-select aria-selected="false">
          <mat-option value="one" class="selection">Buenos Aires</mat-option>
          <mat-option value="one" class="selection">Córdoba</mat-option>
          <mat-option value="one" class="selection">Salta</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button color="primary">Registrarse</button>

    </form>

</div>
