<div class="conteiner">

  <button mat-button color="primary" class="refresh" (click)="refreshAll()">Refresh</button>

  <div class="conteiner-msg">

      <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Recibidos">
          <div class="conteiner-msg-detail">
            <app-recibidos [listaVistaInbox]="listaRecibidosVista"></app-recibidos>
          </div>
        </mat-tab>

        <mat-tab label="Enviados">
          <div class="conteiner-msg-detail">
            <app-enviados [listaVistaSent]="listaEnviadosVista"></app-enviados>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="iconoMas">add_circle_outline</mat-icon>
            Nuevo
          </ng-template>
          <div class="conteiner-msg-detail">
            <app-nuevo [listaUsuariosNuevo]="listaUsuarios"></app-nuevo>
          </div>
        </mat-tab>

      </mat-tab-group>

  </div>

</div>

